<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="Pocket Watchtower"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketWatchtower">
        <provider
            android:name=".WatchtowerStartupProvider"
            android:authorities="com.thomascallen.pocketwatchtower.startup"
            android:exported="false" />
        <activity android:name=".OwnerActionsActivity" android:exported="false" android:label="Owner Actions" />
        <activity android:name=".WatchtowerTestRangeActivity" android:exported="false" android:label="Watchtower Test Range" />
        <activity android:name=".MainActivity" android:exported="false" android:label="Full Observatory" />
        <activity android:name=".PocketHomeActivity" android:exported="true" android:label="Pocket Watchtower">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
